- recipients_options(@chosen_recipient)
= simple_form_for :message, url: messages_path, method: :post do |f|
  = label_tag t('.recipients'), t('.recipients')
  = select_tag t('.recipients'), recipients_options(@chosen_recipient), class: 'chosen-it'
  = f.input :subject, label: t('.subject')
  = f.input :body, label: t('.message')
  = f.button :submit, value: t('.send')
