.ui.text.container
  h2
    =t('.resend')

  = simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f|
    = devise_error_messages!

    .field
      / <!-- = f.label :email  -->
      = f.input :email, label: t('.email'), autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email)

    .actions
      = f.button :submit

  = render 'devise/shared/links'
