.ui.text.container
  h2
    = "Edit #{ resource_name.to_s.humanize }"

  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
    = devise_error_messages!

    .field
      = f.input :email

    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
      .p
        = "Currently waiting confirmation for: #{ resource.unconfirmed_email }"

    .field
      = f.input :password

    .field
      = f.input :password_confirmation

    .field
      = f.input :current_password

    .actions
      = f.button :submit

  h3
    = 'Cancel my account'

  .p
    = "Unhappy? #{button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete }"

  = link_to "Back", :back
