.ui.text.container
  h2
    = 'Sign up'

  = simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = devise_error_messages!

    .field
      em
        = f.input :email, label: t('.email')

    .field
      em
        = f.input :name, label: t('.name')

    .fiel
      em
        = f.input :password, label: t('.password')

    .field
      em
        = f.input :password_confirmation, label: t('.password_c')

    .actions
      = f.button :submit, value: t('.submit')

  = render "devise/shared/links"
