.ui.container
  .ui.comments
    .ui.dividing.header
      .comment
        .content
          = comment.name
        .metadata
          .date
            span
              = time_ago_in_words(@comment.created_at)
        .text
          = comment.body

    - if user_signed_in?
      .ui.red.basic.button
        = limk_to t('.delete'), [comment.post, comment],
                    method: :delete,
                    class: "button",
                    data: { confirm: t('.confirmation') }
