.ui.container
  = simple_form_for([@post, @post.comments.build]) do |f|
    .ui.reply.form
      .field
        = f.input :name, label: t('.name')
      .field
        = f.input :body, label: t('.body')
      .i.icon.edit
        = f.button :submit, value: t('.submit')

