- if controller_name != 'sessions'
  .ui.inverted.violet.basic.button
    = link_to t('log_in'), new_session_path(resource_name)

- if devise_mapping.registerable? && controller_name != 'registrations'
  .ui.inverted.violet.basic.button
    = link_to t('.sign_up'), new_registration_path(resource_name)

- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
  .ui.inverted.violet.basic.button
    = link_to t('.f_password'), new_password_path(resource_name)

- if devise_mapping.confirmable? && controller_name != 'confirmations'
  .ui.inverted.violet.basic.button
    = link_to t('.d_confirmation_instructions'), new_confirmation_path(resource_name)

- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks'
  .ui.inverted.violet.basic.button
    = link_to t('.d_unlock_instructions'), new_unlock_path(resource_name)

- if devise_mapping.omniauthable?
  .ui.inverted.violet.basic.button
    - resource_class.omniauth_providers.each do |provider|
      = link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider)
