.ui.text.container
  table.ui.celled.table
    thead
      tr
        th
          = I18n.t('.header')
        th
          = ''
    tbody
      tr
        td
          .ui.violet.ribbon.label
            = I18n.t('.post')
        td
          .ui.blue.ribbon.label
            = I18n.t('.message')
      tr
        td
          - if NoMethodError
            = "0"
          - else
            = pluralize(@posts.count, @posts)
        td
          - if NoMethodError
            = "0"
          - else
            = pluralize(@micropost.count, @micropost)

