.row
  .ui.text.container
    .ui.threaded.comments style="margin: 10px;"
      .ui.dividing.header
        h1
          = t('.subject')
          = link_to conversation.subject, conversation_path(conversation)

    .comments
      .content
        h2
          = conversation.last_message.body
        .metadata
          .date
            = conversation.last_message.created_at.strftime("%-d %B %Y, %H:%M:%S")
      .negative.ui.icon.button
        - if conversation.is_trashed?(current_user)
          = link_to t('.restore'), restore_conversation_path(conversation), method: :post
        - else
          = link_to t('.remove'), conversation_path(conversation), method: :delete,
                                                                        data: {confirm: t('.confirmation')}

