- @recipient = User.all.collect {|p| [p.name, p.email]}
= simple_form_for :conversation, url: :conversations do |f|
  = label_tag t('.recipients'), t('.recipients')
  = select_tag t('.recipients'), recipients_options(@chosen_recipient), multiple: true, class: 'chosen-it'
  = f.input :subject, placeholder: t('.subject')
  = f.input :body, placeholder: t('.message')
  = f.button :submit, value: t('.send')