.ui.text.container
  .row
    - @receipts.each do |receipt|
      - message = receipt.message
      h2
        = "#{t('.sender')} #{message.sender.name}"
      span
        = "#{t('.subject')} #{message.subject}"
        br
        = "#{t('.date')} #{message.created_at.strftime("%A, %b, %d, %Y at %I::%M%p")}"
        br
      = "#{t('.time')} #{message.body}"