.ui.text.container
  = page_header "Your Conversations"
  .ui.inverted.segment style="margin: 10px;"
    .ui.inverted.relaxed.divided.list
      .li
        .item
          .content
            .header
              = t('.inbox')
          = mailbox_section 'inbox', @box
        .item
          .content
            .header
              = t('.sent')
          = mailbox_section 'sent', @box
        .item
          .content
            .header
              = t('.sent')
          = mailbox_section 'trash', @box
      - if @box == 'trash'
        = link_to t('.empty_trash'), empty_trash_conversations_path, method: :delete
  = render partial: 'conversations/conversation', collection: @conversations

