.ui.text.container
  .row
    = page_header "Conversation"

  h1
    = t('.subject')
    = @conversation.subject

    - @conversation.receipts_for(current_user).each do |receipt|
      - message = receipt.message
      br
      = message.sender.name
      = " t('.says_at') #{message.created_at.strftime("%-d %B %Y, %H:%M:%S") }"
      br
      = message.body
    .ui.threaded.comments
      .ui.reply.form
        .field
          = simple_form_for :message, url: reply_conversation_path(@conversation), method: :post do |f|
            = f.input :body, label: false, placeholder: t('.reply')
            = f.button :submit, value: t('.reply')
