.ui.text.container
  h2
    = t('.resend')

  = simple_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
    = devise_error_messages!

    .field
      = f.input :email, label: t('.email')

    .actions
      = f.button :submit, value:  t('submit')

  = render "devise/shared/links"
