.ui.bulleted.list
  .item
    = link_to user.email, user
    - if current_user.admin?
      .ui.red.basic.button
        = link_to t('posts.show.delete'), user, method: :delete,
                                      data: { confirm: ('posts.show.are_you_sure') }
