.ui.text.container
    h1
      = t('.update')
    .row

      = simple_form_for(current_user.email) do |f|
        / # - binding.pry
        .field
          = f.input :email, label: t('.email')

        .field
          = f.input :password, label: t('.password')

        .field
          = f.input :password_confirmation, label: t('.password_n')

        .field
          = f.input :current_password, label: t('.password_c')

        .actions
          = f.button :submit, value: t('.submit')

        h3
          = t('.delete_account')

        .p
          .ui.violet.basic.button
            = link_to t('.delete_account'), edit_user_registration_path, data: { confirm: t('.confirmation') }, method: :delete
          .ui.green.basic.button
            = link_to t('.back'), :back

