.ui.text.container
  .ui.comments
  .column
    .ui.dividing.header
      = t('.all_users')
      = will_paginate @users
    .comment
      .content
        .text
          = render @users
= will_paginate(@users)
