.ui.text.container
  h2
    = t('.change_pass')

  = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
    = de.ui.text.container
  vise_error_messages!
    = f.hidden_field :reset_password_token

    .field
      = f.label :password
      - if @minimum_password_length
        em
          = '#{@minimum_password_length} characters minimum'
      = f.password_field :password, autofocus: true, autocomplete: "off"

    .field
      / = f.label :password_confirmation, "Confirm new password" %><br />
      = f.itput :password_confirmation

    .actions
      = f.button :submit

  = render "devise/shared/links"
