.ui.text.container
  h2
    = t('.forgot_p')

  = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
    = devise_error_messages!

    .field
      / = f.label :email
      = f.input :email, label: t('.email')

    .actions
      = f.button :submit, value: t('.send')

  = render "devise/shared/links"
