.ui.text.container

- if signed_in?
  .row
    .column
      .p
        = cell(:user_info_table, current_user)
- else
  .row
    .column
      h1
        = "Welcome to the Blog!"
      h2
        = link_to "Sign up now!", new_user_session_path
