.ui.text.container
  .row
  h2
    = t('log_in')

  = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
    .field
      = f.input :email, label: t('.email')

    .field
      = f.input :password, label: t('.password')

    .actions
      = f.button :submit, value: t('.submit')

  = render "devise/shared/links"
