.ui.text.container
  .row
    h1
      = t('.a_search')
    = simple_form_for @search do |f|
      = f.input :keywords, label: t('.keywords')
      = f.input :title, label: t('.title'), collection: (@titles)
      = f.input :name, label: t('.user_name'), collection: (@user_names)
      = f.button :submit, value: t('.search')
    = link_to t('.back'), :back