h1
  = "Articles Search"

= simple_form_for searches_path, method: :get do |f|
  p
    = f.input :q, label: :search, collection: params[:q]
    = f.button :submit, label: "Go"

ul
  - @posts.each do |post|
    li
      h3
        = link_to article.try(:highlight).try(:title) ? article.highlight.title[0].html_safe : article.title,
          controller: "articles",
          action: "show",
          id: article._id
      - if article.try(:highlight).try(:text)
        - article.highlight.text.each do |snippet|
          p
            = snippet.html_safe
