.ui.text.container
  .row
    h1
      = t('.result')
    = link_to t('.back'), new_search_path
    - if @search.search_posts.empty?
      = t('.no_result')
      - binding.pry
    - else
      - @search.search_posts.each do |p|
        .ui.list
          .item
            .newspaper.icon
              = link_to p.title, post_path(@post)
          .item
            .users.icon
              = p.name
      end
    end
