.ui.text.container
  .a.ui.huge.green.right.ribbon.label
    = t('.new_label')
  = simple_form_for @post do |f|
    - if @post.errors.any?
      .errors
        - var = pluralize(@post.errors.count, "error")
        .h2
          = "#{pluralize(@post.errors.count, "error")} prevented this post from saving"
        .ul
          - @post.errors.full_messages.each do |msg|
            .li
              = msg
          end
    = f.input :title, label: t('.title'), required: false
    = f.input :attached_image, label: t('.image'), required: false
    = f.input :body, label: t('.post'), required: false
    = f.button :submit, value: t('.submit')