.ui.text.container
  .eight.wide.column
    .row
      - unless @posts.empty?
        .column
        .ui.piled.segment
          .ui.comments
            - @posts.each do |post|
              .ui.dividing.header
                .comment
                  .content
                    = link_to post.title, post
                  .metadata
                    .date
                      span
                        = post.created_at.strftime("%B, %d, %Y")


      .row
        .column
        - if @posts.empty?
          .row
            .a.ui.huge.green.tag.label
              = t('.label')
