.ui.text.container
  .row
    .column
    .ui.comments.centered
      .ui.dividing.header
        .comment
          .content
            = @post.title
          .metadata
            .date
            .column
              span
                = t('.time',  time: time_ago_in_words(@post.created_at))
                - if user_signed_in?
                  = link_to t('.edit'), edit_post_path(@post)
                  = link_to t('.delete'), post_path(@post), method: :delete, data: { confirm: t('.are_you_sure') }
          .text
            .p
              - if @post.attached_image?
                = image_tag @post.attached_image(:medium)
          .text
            = @post.body
          .h2
            .text
              =  t('.comments_count', count: @post.comments.count)
              = render @post.comments
        .h3
          .text
            = t('.add_comment')
          = render "comments/form"