h1{
  font-size: 26pt;
}
.ui.visible.left.vertical.menu.sidebar{
  h1{
    padding-left: 10px;
    padding-top: 5px;
  }
}
.p {
  padding: 5px;
}
div.ui.red.basic.button {
  margin-top: 15px;
  margin-right: 15px;
}
div.container a{
  color: black;
  margin: 5px;
}
.a.ui.huge.green.tag.label{
  margin: 10px;
}
div.ui.inverted.violet.basic.button{
  margin: 10px;
}
.ui.teal.button{
  margin-bottom: 10px;
}
.message.closable {
  margin-left: 20%;
  margin-right: 20%;
}

pre {
background-color: #eee;
padding: 10px;
font-size: 11px;
}
#post_title{
  margin-bottom: 10px;
  margin-top: 10px;
}
#post_body {
  margin-bottom: 10px;
  margin-top: 10px;
}
.string.optional {
  font-style: 20pt;
}
.simple_form{
  margin: 15px;
  .ui.teal.button{
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .ui.inline.select.required.messages_recipients, .ui.inline.string.required.messages_subject{
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
.messages {
  max-height: 400px;
  overflow-y: auto;
  margin-bottom: 1em;
  margin-top: 1em;
}
#search-form{
  margin: 5px;
}
.search_button{
  margin-top: 5px;

}
.ui.violet.basic.button{
  margin-top: 5px;
}
.ui.text.container{
  margin-bottom: 5px;
}
/*.ui.text.container{
  height: 10%;
}*/