.ui.sticky.fixed.bottom.center.aligned.fluid.container style="margin: 10px;"
  .ui.text.container
    .row.center.align
      .item style="padding: 10px; "
        i.large.users.center.aligned.icon
        = 'Created by '
        = 'Mary Sampir at 2016'
        i.copyright.icon
      .item
        i.large.mail.center.aligned.icon
        = 'Email to author'
        = 'marysaphpir@gmail.com'