.ui.text.container
  .ui.top.secondary.pointing.stackable.menu
    .a.active.item
      = link_to t('.all_posts'), posts_path
    - if user_signed_in?
      .a.item
        = link_to t('.back'), :back
    .right.menu
      - if user_signed_in?
        .a.item
          = link_to t('.new_posts'), new_post_path
        .a.item
          = link_to t('.profile'), edit_user_registration_path(current_user)
        .a.item
          = link_to t('.all_users'), users_path
        .a.item
          = link_to t('.log_out'), destroy_user_session_path, :method => :delete

javascript:
  $('.ui.secondary.menu')
    .on('click', '.item', function() {
      if(!$(this).hasClass('dropdown')) {
        $(this)
          .addClass('active')
          .siblings('.item')
          .removeClass('active');
      }
    })

