.ui.loading.search
  .ui.icon.input
    = form_tag(posts_path, :method => "get", id: "search-form") do
      = text_field_tag :search, params[:search], placeholder: t('.search')
    i.search.icon
  .results