.ui.text.container
  .ui.visible.left.vertical.menu.sidebar
    h1
      = t('.website')
    - if user_signed_in?
      .a.active.item
        = link_to t('.blog'), index_path(current_user)
      .a.item
        = link_to "Inbox", conversations_path
    .a.item
      = link_to t('.about'), root_path

    = render 'layouts/search'

    h1
      = t('.social')
    .a.item
      .ui.green.basic.button
        = link_to t('.start'), new_message_path
    / .a.item
      / = link_to "custom search", custom_search_path
    .a.item
      - if I18n.locale == :ru
        = link_to "en", change_locale_path(:en)
      - else
        = link_to "ru", change_locale_path(:ru)
    .a.item
      = t('.vk')
    .a.item
      = t('.tweeter')
  .a.item
javascript:
  $('.ui.left.menu')
    .on('click', '.item', function() {
      if(!$(this).hasClass('dropdown')) {
        $(this)
          .addClass('active')
          .siblings('.item')
          .removeClass('active');
      }
    })