doctype html
html
  head
    title
      = 'MainBlog'
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
  = javascript_include_tag 'application', 'data-turbolinks-track' => true
  = csrf_meta_tags

body
  = render 'layouts/menu'
  = render 'layouts/flash_message'
  = render 'layouts/sidebar'
  - flash.each do |key, value|
    ."#{flash_class(key)}"
      = value
  end
  = yield
  = render 'layouts/footer'

